body {
    margin: 40px;
    color: yellow;
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .global {
    max-width: 100vw;
    /*Propriété comme item flex*/
    flex: 1 0 100%;
    /*Conteneur flex en rangée*/
    display: flex;
    /*Poussée vers la gauche pour ne pas voir le menu*/
    transform: translateX(-100%);
    /*Effet de transition sur la transformation*/
    transition: transform 1s;
/*	overflow-x: hidden; */
}

.contenu {
    /*Sa largeur est fixée à 100%*/
    width: 100vw;
    /*Propriété comme item flex - ne peut rétrécir*/
    flex: 1 0 100%;
    /*Conteneur flex en colonne pour ses enfants*/
    display: flex;
    flex-flow: column nowrap;
    overflow-x: hidden; overflow-y: auto;
}


  .sidebar {
          grid-area: sidebar;
      }
  
      .sidebar2 {
          grid-area: sidebar2;
      }
  
      .content {
          grid-area: content;
      }
  
      .header {
          grid-area: header;
          background-color: blue;
      }
  
      .footer {
          grid-area: footer;
      }
  
      .wrapper {
          background-color: #fff;
          color: #438;
      }
  
    .wrapper {
      display: grid;
      grid-gap: 1em;
      grid-template-areas:
       "header"
       "sidebar"git bran
       "content"
       "sidebar2"
       "footer"
    }

    
  
      @media only screen and (min-width: 500px)  {
      .wrapper {
  
          grid-template-columns: 20% auto;
          grid-template-areas:
      "header   header"
          "sidebar  content"
          "sidebar2 sidebar2"
          "footer   footer";
      }
      }
  
      @media only screen and (min-width: 600px)   {
          .wrapper {
        grid-gap: 20px;
              grid-template-columns: 180px auto 180px;
              grid-template-areas:
        "header  header  header"
              "sidebar content sidebar2"
              "footer  footer  footer";
             /* max-width: 600px;*/
          }
      }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 23px;
    font-size: 100%; 
  }
  
  .header,
  .footer {
    background-color: tomato;
  }
  
  .sidebar2 {
    background-color: #ccc;
    color: #444;
    border: 5px solid blue;
  }